body {
  font-family: sans-serif;
}

.block {
  display: flex;
  border-bottom: 1px solid black;
  padding: 5px;
  padding-bottom: 10px;
  min-height: 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  margin-left: auto;
}
